.abc{
    background-image:url(IMG-ankita.jpg) ;
    height: 1000px;
     background-size: cover;
     text-align: center;
     
}
.abcd{
    background-image: url(IMG-ankita.jpg);
    height: 50vh;
    background-size: contain;
    background-repeat:no-repeat;
    border: 4px;
}